.about {
  background-color: #1f2022;
  color: #e8e6e3;
  /* padding: 50px 32px; */
  padding: 20px 32px 20px 32px;
  width: 100vw;
  /* height: 100vh; */
  height: 100%;
}
.about h1 {
  /* border: 1px solid rgb(0, 81, 255); */
  width: 50%;
  font-size: 48px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
}
.about_container {
  /* border: 1px solid red; */
  display: flex;
  padding: 0 0 0 50px;
}
.right_div {
  /* border: 1px solid rgb(0, 255, 64); */
  width: 50%;
  padding: 20px;
}
.right_div h3 {
  margin: 0px 0 10px 0;
  padding: 5px;
}
.right_div p {
  margin: 0px 0 8px 0;
  /* font-size: 16px; */
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.right_div button {
  color: #181a1b;
  background-color: #67fd67cc;
  padding: 10px 10px;
  margin-top: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
.right_div button:hover {
  color: #67fd67cc;
  background-color: #181a1b;
  border: 1px solid #67fd67cc;
}
.left_div {
  /* border: 1px solid rgb(255, 0, 128); */
  width: 50%;
  padding: 20px;
}
.left_div h3 {
  margin: 0px 0 10px 20px;
  padding: 5px;
}
.left_div_items {
  /* border: 1px solid #67fd67cc; */
  /* width: 100%; */
}
/* .left_div_items button {
  background-color: #242424;
  color: #e8e6e3;
  border: none;
  width: 20%;
  margin: 5px;
  padding: 12px 16px;
} */
.left_div_items div {
      /* border: 1px solid #67fd67cc; */
  margin: 0px 0 10px 0;
  padding: 12px 16px;
}
.left_div_items p {
  display: inline;
  background-color: #242424;
  color: #e8e6e3;
  border: none;
  /* margin: 20px 0 100px 0; */
  padding: 12px 16px;
}
