.contact h2 {
  font-size: 2.5rem;
}

.contact-items {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

#contact form {
  width: 100%;
  padding: 4px 8px;
  /* background-color: #1f2022; */
}

#contact form input {
  /* width: 100%; */
  /* height: 8vh; */
  border: none;
  border-bottom: 1px solid rgb(136, 132, 132);
  background-color: #67fd67cc;
  /* border-radius: 5px; */
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  color: #181a1b;
}

#contact form input:hover {
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  /* color: rgb(255, 255, 255); */
}

#contact form input:focus {
  outline: none;
}

input::placeholder {
  color: #181a1b;
}

#contact form button {
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #67fd67cc;
  background-color: #181a1b;
}

#contact form button:hover {
  color: #181a1b;
  background-color: #67fd67cc;
  transition: all 0.3s ease-in-out;
}