.home-section {
  background: url(../Images/Home_image.png) no-repeat center center / cover;
  width: 100vw;
  height: 90vh;
}

.container {
  /* border: 1px solid rgb(255, 0, 157); */
  padding: 120px 10px 10px 10px;
  text-align: center;
}

.container h2 {
  color: #e8e6e3;
  font-size: 40px;
}

.container h1 {
  color: #e8e6e3;
  font-size: 50px;
  margin: 20px 0;
}

.container h3 {
  /* border: 1px solid rgb(255, 0, 157); */
  color: #e8e6e3;
  font-size: 25px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-buttons {
  /* border: 1px solid rgb(255, 0, 157); */
  padding: 20px 2px;
  /* height: 100%; */
}
.home-buttons a.button {
  /* border: 1px solid rgb(255, 0, 157); */
  /* margin: 20px 10px */
}
