.navbar {
    background: #181a1b;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logo {
    color: white;
    text-transform: uppercase;
        font-size: 2rem;

}

.logo span {
    color: #67fd67;
}

.nav_menu {
    list-style: none;
    text-align: center;
    display: flex;
}

.nav_menu .active {
    color: #67fd67;
    border-bottom: 5px solid #67fd67;
}

.nav_menu li {
    margin: 20px 0;

}

.nav_menu li a {
    text-decoration: none;
    color: #e8e6e3;
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav_menu li a:hover {
    color: #67fd67;
    /* background: rgba(103, 253, 103, 0.2); */
    transition: all 0.3s ease-in-out;
}

.nav_menu li a:active {
    color: #67fd67;
    /* border-bottom: 5px solid #67fd67; */
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}