/* Services Section */
#services {
    padding: 50px 20px;
    background-color: #1a1a1a;
    /* Dark background */
    color: #fff;
    /* White text */
    text-align: center;
    width: 100vw;
    height: 100vh;
    height: 100%;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
}

.services-container h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff;
    /* White text */
    padding: 5px;
}

/* Services Grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* Service Card */
.service-card {
    background-color: #2a2a2a;
    /* Slightly lighter dark background */
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 8px 16px rgba(110, 109, 109, 0.3);

}

.service-icon {
    /* border: 1px solid red; */
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00ff88;
    /* Accent color (green) */

}
.fas
{
    padding: 5px;
}
.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff;
    /* White text */
    padding: 5px;
}

.service-card p {
    font-size: 1rem;
    color: #ccc;
    /* Light gray text */
}