:root {
    --bg: #121212;
    --panel: #181818;
    --muted: #9aa0a6;
    --accent: #67fd67;
    --accent-2: #3ad6ff;
    --yellow: #ffd14d;
    --card: #141414;
    --gap: 24px;
    font-family: "Space Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    margin: 0;
    color: #e6e6e6;
    background: var(--bg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Section */
.site-header {
    /* position: sticky;
    top: 0;
    z-index: 60; */
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.brand {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 100px 0;
}

.code-left,
.code-right {
    color: var(--muted);
    font-size: 20px;
}

.brand-name {
    color: var(--yellow);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Navbar Section */
.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    color: var(--muted);
    font-size: 24px;
    cursor: pointer;
}

.main-nav ul {
    /* border: 1px solid red; */
    display: flex;
    gap: 18px;
    list-style: none;
    /* margin: 0;
    padding: 0; */
    padding: 0 100px 0;
}

.main-nav a {
    color: var(--muted);
    text-decoration: none;
    padding: 10px 6px;
    /* font-size: 14px; */
}

.main-nav a:hover {
    color: var(--accent);
}

/* Hero Section */
.hero {
    padding: 60px 0 30px;
    height: 85vh;
    /* border: 1px solid red; */
}

.hero-inner {
    text-align: center;
    padding: 60px 0 30px;
}

.big-title {
    font-size: 48px;
    color: var(--yellow);
    margin: 0 0 18px;
}

.hero-sub {
    color: var(--muted);
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px 5px 0 0;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
}

.btn.primary {
    background: var(--accent);
    color: #051107;
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: all 0.5s ease;
}

.btn.primary:hover {
    /* background: transparent;
    color: var(--muted); */
    transform: scale(1.1);
}

.btn.outline {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.06);
    color: var(--muted);
    transition: all 0.5s ease;
}

.btn.outline:hover {
    background: var(--accent);
    color: #051107;

}

/* About Section  */
.about-section {
    padding: 48px 0;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.section-title {
    font-family: "Space Mono", monospace;
    font-size: 36px;
    text-align: center;
    margin: 0 0 20px;
    color: var(--muted);
}

.section-sub {
    text-align: center;
    color: var(--muted);
    margin-bottom: 30px;
}

.about-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    grid-template-columns: 1fr 320px;
    ;
    align-items: start;
    gap: var(--gap);
    gap: 30px;
}

.lead {
    color: var(--yellow);
    font-weight: 700;
    margin-bottom: 12px;
}

.about-list {
    list-style: disc;
    padding-left: 20px;
    color: var(--muted);
    margin: 10px;
}

.toolkit {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool {
    /* background: var(--panel); */
    background: #1b1b1b;
    padding: 8px 12px;
    border-radius: 6px;
    /* font-size: 14px; */
    width: fit-content;
}

/* Project Section  */
.projects-section {
    padding: 48px 0;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap);
}

.project-card {
    background: var(--card);
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 6px 18px rgba(59, 59, 59, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}
.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(59, 59, 59, 0.7);
}
.project-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.project-body {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-body h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--yellow);
}

.project-body p {
    color: var(--muted);
    font-size: 14px;
    margin: 0 0 16px;
    flex: 1;
}

.tech {
    font-size: 12px;
    color: var(--muted);
    margin-bottom: 12px;
}

.project-links a {
    color: var(--accent);
    text-decoration: none;
    margin-right: 12px;
    font-weight: 700;
    border: 1px solid rgb(32, 32, 32);
    padding: 8px 16px;
    border-radius: 6px;
}

.project-links a:hover {
    background: rgb(32, 32, 32);
}

.project-btn {
    border: none;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

/* Services Section */
.services-section {
    padding: 48px 0;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap);
}

.service {
    background: #1a1919;
    padding: 18px 22px;
    border-radius: 6px;
    text-align: center;
    color: var(--muted);
    margin: 6px;
}

.service h3 {
    color: var(--accent);
    margin-bottom: 12px;
}

.service p {
    font-size: 14px;
    line-height: 1.6;
}

/* Contact Section  */
.contact-section {
    padding: 48px 0;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.social-icons {
    /* display: flex; */
    /* gap: 10px; */
    /* padding: 10px 20px 10px 20px; */
    padding: 10px;
    margin: auto;
    /* border: 1px solid red; */
    width: fit-content;
}

.social-icons a {
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-github {
    background: #181717;
    color: white;
}

.fa-instagram {
    background: linear-gradient(45deg, #fd1d1d, #e1306c, #f77737);
    color: white;
}

.fa-tiktok {
    background: #181717;
    color: white;
}

/* Footer Section  */
.site-footer {
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 18px 0;
    color: var(--muted);
}

.inner-footer p {
    text-align: center;
    margin: 0;
    padding: 10px;
    /* color: #181a1b; */
    font-size: 16px;
}