#work {
    /* border-bottom: 1px solid #181a1b; */
    margin-bottom: 5px;
}

.work-container {
    display: flex;
    justify-content: space-between;
}

.work-right-side {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.Job {
    font-size: 20px;
    font-weight: bold;
    color: #181a1b;
    margin-bottom: 0;
}

.Company {
    font-size: 90%;
    margin-bottom: 0;

}

.location {}

.work-left-side {
    padding: 10px;

}

.work-date {
    color: #181a1b;
    background-color: #67fd67cc;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
}